.header {
  grid-column: header-start / header-end;
  background-color: yellow;
}

html, .container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 250px [nav-start] auto 150px [nav-end];
  grid-template-columns: [header-start] minmax(200px, 3fr) 12fr [header-end];
}

.nav {
  grid-row: nav-start / nav-end;
  background-color: blue;
}

.container {
  background-color: red;
}

.footer {
  grid-row: footer-start / footer-end;
  background-color: aqua;
}
