html, .container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 80px 5em auto 100px;
  grid-template-columns: 1fr;
  grid-template-areas: "header " "nav" "content" "footer";
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__item {
  text-transform: uppercase;
  padding: 0.5em 1em;
}

.content {
  grid-area: content;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  grid-area: footer;
  text-align: center;
}

@media only screen and (max-device-width: 500px) {

  .nav {
    grid-area: nav;
    flex-direction: column;
  }

}
