<form [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput formControlName="title">
      <mat-placeholder>Title</mat-placeholder>
      <mat-error *ngIf="form.controls.title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="email">
      <mat-placeholder>Email</mat-placeholder>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="status">
        <mat-option [value]="'active'">Active</mat-option>
        <mat-option [value]="'block'">Block</mat-option>
      </mat-select>
      <mat-placeholder>Status</mat-placeholder>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="save()">Save</button>
  </div>
</form>
