<div class="form__container">
  <div class="form">
    <div class="form__row">
      <label>
        <span>Title:</span>
        <input [(ngModel)]="company.title" name="title">
      </label>
    </div>
    <div class="form__row">
      <label>
        <span>Description:</span>
        <input [(ngModel)]="company.description" name="description">
      </label>
    </div>
    <div class="form__row">
      <div>Rendered services:</div>
      <div>
        <span>Service</span>
        <span>Service</span>
        <span>Service</span>
        <span>Service</span>
        <span>Service</span>
        <span>Service</span>
        <span>Service</span>
      </div>
    </div>
    <div class="form__row">
      <label>

      </label>
    </div>
  </div>
</div>
