<form class="form" name="signInForm">
  <div class="form__row">
    <mat-radio-group>
      <mat-radio-button value="email">Email</mat-radio-button>
      <mat-radio-button value="tel">Tel</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form__row">
    <mat-form-field>
      <input name="contact"
             matInput
             [(ngModel)]="credentials.contact"
             placeholder="{{selectedContactType}}"
             [formControl]="contactFormControl">
      <mat-error *ngIf="contactFormControl.hasError('contact')">
        {{selectedContactType}} has incorrect format
      </mat-error>
      <mat-error *ngIf="contactFormControl.hasError('required')">
        {{selectedContactType}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form__row">
    <label>
      Password:
      <input type="password" [(ngModel)]="credentials.password" name="password">
    </label>
  </div>
  <div class="form__row">
    <button type="button" (click)="login()">Login</button>
  </div>
</form>
