<form class="form" [formGroup]="options">
  <div class="form__row">
    <mat-radio-group [(ngModel)]="contactType" [ngModelOptions]="{standalone: true}">
      <mat-radio-button value="email">Email</mat-radio-button>
      <mat-radio-button value="tel">Tel</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form__row">
    <mat-form-field>
      <input matInput name="contact" formControlName="contact">
      <mat-placeholder>{{contactType | titlecase}}</mat-placeholder>
      <mat-error *ngIf="options.controls.contact.hasError('contact')">
        {{contactType | titlecase}} has incorrect format
      </mat-error>
      <mat-error *ngIf="options.controls.contact.hasError('required')">
        {{contactType | titlecase}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form__row">
    <mat-form-field>
      <input matInput type="password" name="password" formControlName="password">
      <mat-placeholder>Password</mat-placeholder>
      <mat-error *ngIf="options.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form__row">
    <button type="button" (click)="login()">Login</button>
  </div>
</form>
