.form__container {
  width: 20em;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__row {
  display: flex;
  justify-content: flex-end;
}

.form__row input {
  margin: 0 1em 1em 1.5em;
}
